body {
    font-family: "Roboto Condensed", monospace;
    margin: 0;
    padding: 0;
}

input,
.pure-button,
#pedal-view button
{
    font-family: "Roboto Condensed", monospace;
}

#templates {
    display: none;
}

.pure-button {
    font-weight: bold;
    user-select: none;
}

.pure-form input[type=text]
{
    font-size: 97% !important;
}

#session-menu {
    position: fixed;
    background: #f5f5f5;
    border-right: 0.5em solid #aaa;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-left: -105%;
    z-index: 10;
    -webkit-transform: translate3d(0,0,0); 
    -webkit-transition: -webkit-transform 0.5s ease;
}

#session-menu.active {
    -webkit-transform: translate3d(104%,0,0)
}

#session-menu input {
    display: inline;
}

#pedal-menu-button {
    position: fixed;
    right: 0;
}
#pedal-menu {
    font-size: 130%;
    position: fixed;
    -webkit-transform: translate3d(100%,0,0); 
    -webkit-transition: -webkit-transform 0.2s ease;
    width: 80%;
    right: 0;
    background: #333;
    height: 100%;
    z-index: 3;
}

#pedal-menu.pure-menu-open {
    -webkit-transform: translate3d(0,0,0);    
}

#pedal-menu .pure-menu-heading
{
    color: white;
}

#pedal-menu ul li a 
{
    color: #aaa;
}

/* FontAwesome */
.icon-medium {
    font-size: 1.5em;
}

