body {
    font-family: "Roboto Condensed", monospace;
    margin: 0;
    padding: 0;
}

input,
.pure-button,
#pedal-view button
{
    font-family: "Roboto Condensed", monospace;
}

#templates {
    display: none;
}

.pure-button {
    font-weight: bold;
    user-select: none;
}

.pure-form input[type=text]
{
    font-size: 97% !important;
}

#session-menu {
    position: fixed;
    background: #f5f5f5;
    border-right: 0.5em solid #aaa;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-left: -105%;
    transition-property: margin;
    transition-duration: 0.5s;
}

#session-menu.active {
    margin: 0;
}

#session-menu input {
    display: inline;
}

#pedal-menu {
    font-size: 130%;
    position: fixed;
    transition: margin 0.5s;
    margin-right: -82%;
    width: 80%;
    right: 0;
    background: #333;
    height: 100%;
}

#pedal-menu.pure-menu-open {
    margin-right: 0;   
}

#pedal-menu .pure-menu-heading
{
    color: white;
}

#pedal-menu ul li a 
{
    color: #aaa;
}


