.pedal {
    padding: 1.5em;
    border-radius: 1em;
    margin: 0 0 1em 0;
    position: relative;
}

.pedal label {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
}

.pedal .bypass {
    position: absolute;
    top: 1em;
    right: 1em;
}

